

<h1 class={{title}}>Hi This is Sunil {{title}}</h1>
<h1>{{data}}</h1>
<h1>{{getValue()}}</h1>
<app-user-list></app-user-list>
<app-login></app-login>
<h3><button (click)="getfun('Sunil Rathod Function')">Click Me</button> <button (click)="getfun2()">Click Me2</button></h3>
<div>
    <input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup" />
    <input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event keydown" />
    <input type="text" #box2 (blur)="getData(box2.value)" placeholder="event blur" />
    <input type="text" #box3 (input)="getData(box3.value)" placeholder="event input" />
</div>
<br/>
<div>
    <span (mouseover)="getData('Mouseover')">This is Mouseover ____________</span>
    <span (mouseleave)="getData('Mouseleave')">This is Mouseleave </span>
</div>
<br />
<div>     
    <input type="text" #box4  placeholder="Get Input Value" name="name">
    <button (click)="getInputValue(box4.value)">Click</button>
    <p>Input Box Value is : {{ displayVal }}</p>
</div>
<div>
    <button (click)="counter('minus')">--</button>
    <span>.... Count : {{count}} ..... </span>
    <button (click)="counter('add')">++</button>
</div>
<br />
<div>
    <!-------------------- Property Binding -------------------->
    <!-- <input type="text" name="user-name" value={{name}} disabled={{disable}}> 
    <button (click)="getToggle()">Click</button>
    <input type="text" name="user-name" [value]=name [disabled]=disable>
     <button (click)="getToggle()">Click</button> -->
</div>

<!----------------------------------------------- IF ELSE Condition -------------------------------------------->
<h1 *ngIf="show=='Yes'; then ifBlock else elseBlock" ></h1>
<ng-template #ifBlock>
    <h1>If Condition</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>Else Condition</h1>
</ng-template>

<!----------------------------------------------- ELSE IF Condition -------------------------------------------->

<ng-template [ngIf]= "color === 'red'">
    <h1 style="color: red;">Red Color else if Condition</h1>
</ng-template>
<ng-template [ngIf]= "color === 'green'">
    <h1 style="color: green;">Green Color else if Condition</h1>
</ng-template>
<ng-template [ngIf]= "color === 'blue'">
    <h1 style="color: blue;">Blue Color else if Condition</h1>
</ng-template>
<ng-template [ngIf]= "color === 'yellow'">
    <h1 style="color: yellow;">Yellow Color else if Condition</h1>
</ng-template>
<ng-template [ngIf]= "color === 'purple'">
    <h1 style="color: purple;">Purple Color else if Condition</h1>
</ng-template>


<!----------------------------------------------- SWITCH CASE Condition -------------------------------------------->

<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color: red;">Red Color in Switch case</h1>
    <h1 *ngSwitchCase="'green'" style="color: green;">Green Color in Switch case</h1>
    <h1 *ngSwitchCase="'blue'" style="color: blue;">Blue Color in Switch case</h1>
    <h1 *ngSwitchCase="'yellow'" style="color: yellow;">Yellow Color in Switch case</h1>
    <h1 *ngSwitchCase="'purple'" style="color: purple;">Purple Color in Switch case</h1>
    <h1 *ngSwitchCase="'greenyellow'" style="color: greenyellow;">Greenyellow Color in Switch case</h1>
    <h1 *ngSwitchCase="'skyblue'" style="color: skyblue;">Skyblue Color in Switch case</h1>
    <h1 *ngSwitchDefault >No Any Color in Switch case</h1>
</div>

<!----------------------------------------------- FOR LOOP  -------------------------------------------->

<p>For Loop in Angular</p>
<span *ngFor="let item of users">User Name is  {{item}}<br/></span>
<span *ngFor="let item of userDetail">User Name is {{item.name}} her City is {{item.city}} & her Mobile no. is {{item.phon}}<br/></span>
<ul *ngFor="let item of userDetail">
    <li>{{item.name}}</li>
    <li>{{item.city}}</li>
    <li>{{item.phon}}</li>
    <li>Social Accounts </li>
        <ul *ngFor="let Accounts of item.social">
            <li>{{Accounts}}</li>
        </ul>  
</ul>


<!----------------------------------------------- Style Binding or Dynamic style  -------------------------------------------->

<h1 [style.color]="color" [style.backgroundColor]="bgColor" > This is Example text for Style Binding or Dynamic style</h1>

<section>
  <div class="example-button-row">
    <button mat-raised-button (click)="update1()" >Update1</button>
    <button mat-raised-button color="primary" (click)="update2()">Update2</button>
    <button mat-raised-button color="accent" (click)="update3()">Update3</button>
    <button mat-raised-button color="warn" (click)="update4()">Update4</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>





<!----------------------------------------------- Basic Form  -------------------------------------------->

<br />
<br />
<form #basicForm="ngForm" (ngSubmit)="getFormData(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="Enter User Name">
    <br />
    <input type="email" ngModel name="email" placeholder="Enter User email">
    <br />
    <input type="text" ngModel name="password" placeholder="Enter User password">
    <br />
    <button>Register</button>
</form>
<ul>
    <li>{{userFormData.user}}</li>
    <li>{{userFormData.email}}</li>
    <li>{{userFormData.password}}</li>
</ul>

<!------------------------------------------------- Material UI ------------------------------------------->
<br />
<br />
<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<!------------------------------------------------- Badge  ------------------------------------------->

<div class="demo-section">
    Button with a badge on the left
    <button mat-raised-button color="primary"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">
      Action
    </button>
  </div>

  <!------------------------------------------------- To Do List  ------------------------------------------->

<h3>TO DO List in Angular</h3>
<input type="text" ngModel placeholder="Enter List Itom" #task>
<button (click)="addListItom(task.value)">Add</button>
<ul *ngFor="let itom of listItom">
    <li>{{itom.name}} <button (click)="removeListItom(itom.id)">Remove</button></li>
</ul>


<!----------------------------------------------- Data Pass Parent to Child  -------------------------------------------->

<br /><br />
<app-parent></app-parent>


<!----------------------------------------------- TWO WAY BINDING  -------------------------------------------->
<br /><br />
<label for="">Two Way Binding Input <input type="text" [(ngModel)]="twoWayBindingProps"></label>
<h2>{{twoWayBindingProps}}</h2>

<!----------------------------------------------- TEMPLATE REFERENCE VARIABLE  -------------------------------------------->
<br /><br />
<label for="">TEMPLATE REFERENCE VARIABLE(id) Input <input type="text" #inpboxId name="user" placeholder="Enter user name"></label>
<button (click)="getIdVal(inpboxId.value)">Call Function</button>

<!----------------------------------------------- Pipes in Angular  -------------------------------------------->

<br /><br />
<h2>{{pipesInAngular | uppercase}}</h2>
<h2>{{pipesInAngular | lowercase}}</h2>

<!----------------------------------------------- Advance Pipes  -------------------------------------------->
<!-- Use Params in Pipes & maltipale pipes are use  -->
<h2>{{pipesInAngular | slice : 8 : 28 | uppercase}}</h2>

<!---------------- JSON Pipes -->
<h2>{{userDetail | json | uppercase}}</h2>
<h2>{{20000.3200 | number : '3.2-3'}}</h2>
<h2>{{20000 | currency:'INR'}}</h2>

<!---------------- CUSTOME Pipes -->
<h2>{{ 20 | usdInr : 83}}</h2>

<!----------------------------------------------- Form Section for back end or data trnasfer   -------------------------------------------->
<!----------------------------------------------- Template Driven Form  -------------------------------------------->

<form #loginForm="ngForm" (ngSubmit)="getFormData(loginForm.value)">
    <input type="text" placeholder="Enter Name" name="name" ngModel>
    <br /><br />
    <input type="password" placeholder="Enter Password" name="Password" ngModel>
    <br /><br />
    <button>Login</button>
</form>
<!-- Get the Value Outside Button Click, it esey only chenge Event outside  -->
<button (click)="getFormData(loginForm.value)">OutSide Login</button>